{% extends "layout.html" %}

{%block content%}
<table class="table">
    <thead>
      <tr>
        <th scope="col">time</th>
        <th scope="col">Dirección</th>
        <th scope="col">Habitantes</th>
        <th scope="col">Dias recolección</th>
        <th scope="col">Jornada</th>
        <th scope="col">Basura recicable</th>
        <th scope="col">Basura orgnánica</th>
        <th scope="col">Sanción</th>
      </tr>
    </thead>
    <tbody>
        {% for registros in ListaMayor %}
        <tr>
            <th scope="row">{{ registros[0] }}</th>
            <td> {{ registros[1] }}</td>
            <td> {{ registros[2] }}  </td>
            <td> {{ registros[3] }} </td>
            <td> {{ registros[4] }} </td>
            <td> {{ registros[5] }} </td>
            <td> {{ registros[6] }} </td>
            <td> {{ registros[7] }} </td>
            <td> {{ registros[8] }} </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}